<amp-story-bookend layout="nodisplay">
    <script type="application/json">
    {
        "bookendVersion": "v1.0",
        "shareProviders": [
            "facebook",
            "twitter",
            "email"
        ],
        "components": [{
            "type": "heading",
            "text": "More to read"
        }, {
            "type": "small",
            "title": "FinVo",
            "url": "https://finvo.finmango.org",
            "image": "static/finvo.png"
        }, {
            "type": "small",
            "title": "FinVest",
            "url": "https://finvest.finmango.org",
            "image": "static/finvest.png"
        }, {
            "type": "small",
            "title": "Fincubator",
            "url": "https://fincubator.finmango.org",
            "image": "static/fincubator.png"
        }, {
            "type": "small",
            "title": "Blog",
            "url": "https://blog.finmango.org",
            "image": "static/blog.jpg"
        }, {
            "type": "cta-link",
            "links": [{
                "text": "Learn more",
                "url": "https://finmango.org"
            }]
        }]
    }
    </script>
</amp-story-bookend>